---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="ΑΡΝΟΚΟΥΡΟΣ" subTitle="ΑΝΔΡΙΚΗ ΕΝΔΥΣΗ" date="1973">
<div class="flex flex-col items-center justify-center min-h-screen bg-base-200 p-4 ">
  <h1 class="text-4xl font-extrabold text-center bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent relative inline-block pb-3 after:content-[''] after:absolute after:bottom-0 after:left-1/4 after:w-1/2 after:h-1.5 after:bg-gradient-to-r 
  after:from-primary after:to-secondary after:rounded-full mb-8" data-i18n="Title1">Our Shop</h1>

  <div class="carousel w-full max-w-2xl h-96 rounded-box mx-auto">
    
    <div id="item1" class="carousel-item relative w-full h-full scroll-mt-10">
      <img
        src="/P4.png"
        class="w-full h-full object-cover"
      />
    </div>
    
    <div id="item2" class="carousel-item relative w-full h-full scroll-mt-10">
      <img
        src="/P3.png"
        class="w-full h-full object-cover"
      />
    </div>
    
    <div id="item3" class="carousel-item relative w-full h-full scroll-mt-10">
      <img
        src="/P2.png"
        class="w-full h-full object-cover"
      />
    </div>
    
    <div id="item4" class="carousel-item relative w-full h-full scroll-mt-10">
      <img
        src="/P1.png"
        class="w-full h-full object-cover"
      />
      
    </div>
       <div id="item5" class="carousel-item relative w-full h-full scroll-mt-10">
      <img
        src="/P5.png"
        class="w-full h-full object-cover"
      />
      
    </div>

  </div>
  <div class="flex w-full justify-center gap-2 py-2">
  <a href="#item1" class="btn btn-sm btn-circle btn-outline btn-primary transition-all duration-300 hover:scale-105 shadow-sm">1</a>
  <a href="#item2" class="btn btn-sm btn-circle btn-outline btn-primary transition-all duration-300 hover:scale-105 shadow-sm">2</a>
  <a href="#item3" class="btn btn-sm btn-circle btn-outline btn-primary transition-all duration-300 hover:scale-105 shadow-sm">3</a>
  <a href="#item4" class="btn btn-sm btn-circle btn-outline btn-primary transition-all duration-300 hover:scale-105 shadow-sm">4</a>
  <a href="#item5" class="btn btn-sm btn-circle btn-outline btn-primary transition-all duration-300 hover:scale-105 shadow-sm">5</a>
</div>
</div>
  </div>
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <div class="dark:hidden">
        <img
          src="/ArnokourosLightP2.jpg"
          alt="Arnokouros Building"
          class="max-w-sm rounded-lg shadow-2xl"
        />
      </div>
      <div class="dark:block hidden">
        <img
          src="/ArokourosNight.png"
          alt="Arnokouros Building"
          class="max-w-sm rounded-lg shadow-2xl"
        />
      </div>
      <div>
        <h1 class="text-5xl font-bold underline"  data-i18n="Title2">About Us</h1>
        <p class="py-6" data-i18n="MainInfo">
          Από το 1973, η επιχείρησή μας υπηρετεί το ανδρικό ένδυμα με συνέπεια,
          εμπειρία και προσωπική φροντίδα. Ξεκινώντας από τη Σταδίου και
          συνεχίζοντας σήμερα στην Πανεπιστημίου 71, παραμένουμε όλα αυτά τα
          χρόνια δίπλα στον άνδρα που αναζητά ποιότητα, σωστή εφαρμογή και
          διαχρονικό στυλ. Στο κατάστημά μας θα βρείτε ολοκληρωμένες προτάσεις
          ανδρικής ένδυσης, όπως κοστούμια, σακάκια, παντελόνια, πουκάμισα και
          αξεσουάρ, με έμφαση στο κλασικό ανδρικό ντύσιμο αλλά και με επιλογές
          πιο σύγχρονες και μοντέρνες. Αυτό που μας ξεχωρίζει είναι ότι
          διατηρούμε ζωντανή την τέχνη της ραφής κατά παραγγελία. Αναλαμβάνουμε
          τη δημιουργία κοστουμιών, σακακιών, παντελονιών και πουκαμίσων στα
          μέτρα σας, με προσοχή στη λεπτομέρεια, επιλογή υφασμάτων και εφαρμογή
          προσαρμοσμένη στις ανάγκες κάθε πελάτη. Με σεβασμό στην παράδοση και
          το καλό ανδρικό ένδυμα, συνεχίζουμε να προσφέρουμε λύσεις για κάθε
          περίσταση: από την καθημερινή εμφάνιση μέχρι την επαγγελματική
          παρουσία και τις πιο ιδιαίτερες στιγμές σας.
        </p>
        <button class="btn btn-primary">Επικοινωνήστε</button>
      </div>
    </div>
  </div>
</SiteLayout>
