<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
  <nav>
    <h6 class="footer-title" data-i18n="Footer_Service">Services</h6>
    <a class="link link-hover" data-i18n="Footer_tailor_made">Tailor made</a>
    <a class="link link-hover" data-i18n="Footer_suit">suit</a>
  </nav>
  <nav>
    <h6 class="footer-title" data-i18n="Footer_Company">Company</h6>
    <a class="link link-hover" data-i18n="Footer_AboutUs">About us</a>
    <a class="link link-hover" data-i18n="Footer_Contact">Contact</a>
    <a class="link link-hover"  data-i18n="Footer_Location">Location</a>
  </nav>
  <nav>
    <h6 class="footer-title" data-i18n="Footer_Legal">Legal</h6>
    <a class="link link-hover" data-i18n="Footer_Cookie">Cookie policy</a>
  </nav>
</footer>