---
import Head from "../components/Head.astro";
import Foorer from "../components/Footer.astro";

let {title , subTitle ,date} = Astro.props;

const changeAction = (content:string , SUBT:string , d:string) => {
     title=content
     subTitle=SUBT
     date = d
}
---
<html lang="en" class="scroll-smooth">
    <Head title={title} subTitle={subTitle} date={date}/>
<body>
    <article>
      <slot />
    </article>
    </body>
    <Foorer/>
</html>